name: Build Package

on:
  push:
    tags: ['v*']

jobs:
  build:
    runs-on: ubuntu-latest
    container: archlinux:latest
    permissions:
      contents: write

    steps:
      - name: Install dependencies
        run: pacman -Syu --noconfirm base-devel

      - uses: actions/checkout@v4

      - name: Create build user
        run: |
          useradd -m builder
          chown -R builder:builder .

      - name: Build package
        run: su builder -c "makepkg --nodeps --noconfirm"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: '*.pkg.tar.zst'

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          files: '*.pkg.tar.zst'
